# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Batch files
*.bat text eol=crlf

# Markdown files
*.md text eol=lf

# JSON files
*.json text eol=lf
